<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <main>
    <div>
        <h1>My lists</h1>
        <p>
            <a href="{% url "todo_list_create" %}">Create a new list</a>
            <a href="{% url "todo_item_create" %}">Create a new item</a>
        </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
            {% for list in todo_list %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                </td>
                <td>{{ list.items.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </main>
</body>
</html>
